<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754946753820-hfnvbnvq2uj0mk6sum5jcee4s68qhgjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754946753820-hfnvbnvq2uj0mk6sum5jcee4s68qhgjh</string>
	<key>API_KEY</key>
	<string>AIzaSyBJhWw3M4uY7UfOAFLWPJjBa3Z3GEloMks</string>
	<key>GCM_SENDER_ID</key>
	<string>754946753820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mkm.firebase-todo</string>
	<key>PROJECT_ID</key>
	<string>todo-firebase-63f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-firebase-63f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754946753820:ios:d56f226a64b084dfc6e6d9</string>
</dict>
</plist>